<h1>Welcome to Blocitoff</h1>
<p>Blocitoff is a to do list app that automatically removes items after a set number of days.</p>

<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Bloccitoff is a to do list app that automatically removes items after a set number of days</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Get more done</h2>
    <p>Never again forget that thing that you were supposed to do that seemed so important.</p>
  </div>
  <div class="col-md-4">
    <h2>Vaguely dystopian</h2>
    <p>Having a solidly full to do list means you'll be productive like never before.</p>
  </div>
  <div class="col-md-4">
    <h2>Hey wait a minute</h2>
    <p>Seriously, maybe you should reconsider using this thing while you're still relatively free.</p>
  </div>
</div>
