<div class="span8">
  <% @items.each do |item| %>
      <div class="media">
        <p>
          <%= "#{item.name}" %> <br/>
          <small>
            <%= "you have " + item.days_left.to_s + " days left to do this." %>
          </small>
        </p>
      </div>
  <% end %>
</div>
