<div class="span8">
  <p>
  <% @items.each do |item| %>
      <div class="media" id=<%=item.id%>>
        <%= "#{item.name}" %>
          <%= link_to "", [ current_user, item ], method: :delete, class: 'glyphicon glyphicon-ok', data: {confirm: "Click OK to delete the following completed task: #{item.name}", remote: true} %>
      </div>
  <% end %>
</p>
</div>
